<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot ="start">
      <ion-back-button>Regresar</ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-card *ngFor="let item of arrayElements; let indice = index">
    <ion-card-header>
      <ion-card-title id="colortext">{{item.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="item.icon" ></ion-img>
      <p>
     <ion-button color="primary"  >COMPRAR</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
