<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
    <ion-back-button>Regresar</ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of tasks;">
    <ion-card-header>
      <ion-card-title id="colortext">{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="item.icon" ></ion-img>
      <p>
     <ion-button color="primary"  >COMPRAR</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
